@page "/accordion"
<div class="container">
    <h1>Accordion Example</h1>

    <Accordion>
        <AccordionItem Title="Accordion Item #1">
            <Content>
                <p>This is the first item's accordion body content.</p>
            </Content>
        </AccordionItem>
        <AccordionItem Title="Accordion Item #2">
            <Content>
                <p>This is the second item's accordion body content.</p>
            </Content>
        </AccordionItem>
        <AccordionItem Title="Accordion Item #3">
            <Content>
                <p>This is the third item's accordion body content.</p>
            </Content>
        </AccordionItem>
    </Accordion>
</div>
