@page "/grid"
<div class="container">
    <h1>Bootstrap Grid Examples</h1>

    <h2>Equal Width Columns</h2>
    <div class="row">
        <div class="col">Column 1</div>
        <div class="col">Column 2</div>
        <div class="col">Column 3</div>
    </div>

    <h2>Fixed Width Columns</h2>
    <div class="row">
        <div class="col-8">col-8</div>
        <div class="col-4">col-4</div>
    </div>

    <h2>Mixed Width Columns</h2>
    <div class="row">
        <div class="col-6">col-6</div>
        <div class="col">col (auto)</div>
        <div class="col">col (auto)</div>
    </div>

    <h2>Auto Width Column</h2>
    <div class="row">
        <div class="col">col</div>
        <div class="col-auto">col-auto (fits content)</div>
        <div class="col">col</div>
    </div>

    <h2>Column Offset</h2>
    <div class="row">
        <div class="col-4">col-4</div>
        <div class="col-4 offset-4">col-4 offset-4</div>
    </div>

    <h2>Centered Column</h2>
    <div class="row">
        <div class="col-6 offset-3">col-6 offset-3 (centered)</div>
    </div>

    <h2>Gutter Utilities</h2>
    <div class="row g-3">
        <div class="col-4">col-4 with g-3</div>
        <div class="col-4">col-4 with g-3</div>
        <div class="col-4">col-4 with g-3</div>
    </div>

    <h2>Horizontal Gutter</h2>
    <div class="row gx-5">
        <div class="col-6">col-6 with gx-5</div>
        <div class="col-6">col-6 with gx-5</div>
    </div>

    <h2>Vertical Gutter</h2>
    <div class="row gy-4">
        <div class="col-12">col-12 with gy-4</div>
        <div class="col-12">col-12 with gy-4</div>
    </div>

    <h2>Container Fluid</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col">Full width container</div>
        </div>
    </div>
</div>
