@import "../../themes/ionic.globals.ios";
@import "./menu-button";

// iOS Menu Button
// --------------------------------------------------

ion-menu-button.ios {
  --background-focused: currentColor;
  --background-focused-opacity: .1;
  --border-radius: 4px;
  --color: #{ion-color(primary, base)};
  --padding-start: 5px;
  --padding-end: 5px;

  height: 32px;

  font-size: 31px;
}


// Menu Button: Activated
// --------------------------------------------------

ion-menu-button.ios.ion-activated {
  opacity: .4;
}


// Menu Button: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  ion-menu-button.ios:hover {
    opacity: .6;
  }
}
