@namespace Miko
@inherits MikoDomComponentBase

<ion-menu
    @ref="Ref"
    role="navigation"
    aria-label="menu"
    class="@ClassMapper.Class"
    style="@Style">
    <div @ref="_containerRef" class="menu-inner" part="container">
        <slot>@ChildContent</slot>
    </div>
    
    <Miko.Backdrop 
        Class="menu-backdrop" 
        Visible="_isOpen" 
        OnTap="HandleBackdropTap" />
</ion-menu>
