@namespace Miko
@inherits MikoDomComponentBase

<ion-menu
    role="navigation"
    aria-label="menu"
    class="@ClassMapper.Class"
    style="@Style">
    <div class="menu-inner" part="container">
        <slot>@ChildContent</slot>
    </div>
    
    <ion-backdrop
        class="menu-backdrop"
        tappable="false"
        stopPropagation="false"
        part="backdrop"/>
</ion-menu>
