@inherits Miko.Components.LayoutComponentBase

<div class="layout">
    <div class="sidebar">
        <h2 class="title" @onclick="@(() => NavigateTo("/"))">Miko Ionic</h2>
        <div class="nav-item" @onclick="@(() => NavigateTo("/button"))"><span>IonButton</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/card"))"><span>IonCard</span></div>
    </div>
    <div class="main-content">
        @Body
    </div>
</div>

@code {

    private void NavigateTo(string path)
    {
        NavigationManager?.NavigateTo(path);
    }
}
