@namespace Miko
@inherits MikoDomComponentBase

<ion-tabs
    class="@ClassMapper.Class"
    style="@Style">
    <slot name="top">
        @if (Slot == "top")
        {
            @ChildContent
        }
    </slot>
    <div class="tabs-inner">
        <slot>
            @if (Slot == null)
            {
                @ChildContent
            }
        </slot>
    </div>
    <slot name="bottom">
        @if (Slot == "bottom")
        {
            @ChildContent
        }
    </slot>
</ion-tabs>
