@namespace Miko
@inherits MikoDomComponentBase

<CascadingValue Value="this">
    <ion-tabs
        class="@ClassMapper.Class"
        style="@Style">
        <slot name="top">
            @if (Slot == "top")
            {
                @TabBarRender
            }
        </slot>
        <div class="tabs-inner">
            <slot>
                @ChildContent
            </slot>
        </div>
        <slot name="bottom">
            @if (Slot == "bottom")
            {
                @TabBarRender
            }
        </slot>
    </ion-tabs>
</CascadingValue>