@namespace Miko
@inherits MikoDomComponentBase

<ion-tabs
    class="@ClassMapper.Class"
    style="@Style">
    <CascadingValue Value="@Slot">
        @if (Slot == "top")
        {
            <slot name="top">
                @TabBarRender
            </slot>
        }
        <div class="tabs-inner">
            <slot>
                @ChildContent
            </slot>
        </div>
        @if (Slot == "bottom")
        {
            <slot name="bottom">
                @TabBarRender
            </slot>
        }
    </CascadingValue>
</ion-tabs>
