@inherits Miko.Components.LayoutComponentBase

<div class="layout">
    <div class="sidebar">
        <h2 class="title">Miko Demo</h2>
        <div class="nav-item" @onclick="NavigateToButton">
            <span>Button</span>
        </div>
        <div class="nav-item" @onclick="NavigateToForm">
            <span>Form</span>
        </div>
        <div class="nav-item" @onclick="NavigateToList">
            <span>List</span>
        </div>
        <div class="nav-item" @onclick="NavigateToIcon">
            <span>Icon</span>
        </div>
        <div class="nav-item" @onclick="NavigateToTable">
            <span>Table</span>
        </div>
    </div>
    <div class="main-content">
        @Body
    </div>
</div>

@code {

    private void NavigateToButton()
    {
        NavigationManager?.NavigateTo("/button");
    }

    private void NavigateToForm()
    {
        NavigationManager?.NavigateTo("/form");
    }

    private void NavigateToList()
    {
        NavigationManager?.NavigateTo("/list");
    }

    private void NavigateToIcon()
    {
        NavigationManager?.NavigateTo("/icon");
    }

    private void NavigateToTable()
    {
        NavigationManager?.NavigateTo("/table");
    }


    public static Miko.Styling.StyleSheet CreateLayoutStyleSheet()
    {
        return new Miko.Styling.StyleSheet
        {
            Rules = new List<Miko.Styling.StyleRule>
            {
                new()
                {
                    Selector = new Miko.Styling.Selectors.ClassSelector("layout"),
                    Style = new Miko.Styling.Style
                    {
                        Display = Miko.Common.Display.Flex,
                        Width = Miko.Common.Length.Percent(100),
                        Height = Miko.Common.Length.Percent(100),
                    }
                },
                new()
                {
                    Selector = new Miko.Styling.Selectors.ClassSelector("sidebar"),
                    Style = new Miko.Styling.Style
                    {
                        Width = Miko.Common.Length.Px(200),
                        Height = Miko.Common.Length.Percent(100),
                        Padding = Miko.Common.Length.Px(16),
                        BackgroundColor = Miko.Common.Color.FromRgb(52, 58, 64),
                        Color = Miko.Common.Color.White,
                    }
                },
                new()
                {
                    Selector = new Miko.Styling.Selectors.ClassSelector("title"),
                    Style = new Miko.Styling.Style
                    {
                        Color = Miko.Common.Color.White,
                    }
                },
                new()
                {
                    Selector = new Miko.Styling.Selectors.ClassSelector("main-content"),
                    Style = new Miko.Styling.Style
                    {
                        FlexGrow = 1,
                        Padding = Miko.Common.Length.Px(16),
                        OverflowY = Miko.Common.Overflow.Scroll,
                    }
                },
                new()
                {
                    Selector = new Miko.Styling.Selectors.ClassSelector("nav-item"),
                    Style = new Miko.Styling.Style
                    {
                        Padding = Miko.Common.Length.Px(10),
                        MarginBottom = Miko.Common.Length.Px(4),
                        Color = Miko.Common.Color.White,
                    }
                },
            }
        };
    }
}
