@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@ClassMapper.Class" style="@Style">
    @ChildContent
</div>

@code {
    /// <summary>When true, constrains the grid to Ionic's fixed grid width.</summary>
    [Parameter] public bool Fixed { get; set; }

    protected override void OnParametersSet()
    {
        ClassMapper
            .Clear()
            .Add(Class)
            .Add(Mode)
            .Add("ion-grid")
            .If(Fixed, "grid-fixed");
    }
}
