@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@_cssClass">
    @ChildContent
</div>

@code {
    private string _cssClass = "md ion-row";

    protected override void OnParametersSet()
    {
        _cssClass = $"{Mode} ion-row";
    }
}
