@namespace Miko
@inherits MikoDomComponentBase

<Host Tag="ion-content"
      StyleUrl="content.scss"
      Shadow="true"
      Class="@ClassMapper.Class"
      Style="@Style">
    <div @ref="context[0]" id="background-content" part="background"></div>
    <main @ref="context[1]" class="inner-scroll scroll-y" part="scroll">
        <slot></slot>
    </main>
    <slot @ref="context[2]" name="fixed"></slot>
    @ChildContent
</Host>