@namespace Miko
@inherits MikoDomComponentBase

<Host Tag="ion-content"
      StyleUrl="content.scss"
      Shadow="true"
      Class="@ClassMapper.Class"
      Style="@Style">
    <div id="background-content" part="background"></div>
    <main class="inner-scroll scroll-y" part="scroll">
        <slot>@ChildContent</slot>
    </main>
    <slot name="fixed"></slot>
</Host>