@page "/list"
<div class="container">
    <h1>Bootstrap List Examples</h1>

    <h2>Basic Lists</h2>
    <div class="row">
        <div class="col">
            <p>Unordered List:</p>
            <ul>
                <li>First item</li>
                <li>Second item</li>
                <li>Third item</li>
            </ul>
        </div>
        <div class="col">
            <p>Ordered List:</p>
            <ol>
                <li>First item</li>
                <li>Second item</li>
                <li>Third item</li>
            </ol>
        </div>
    </div>

    <h2>List Group</h2>
    <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>

    <h2>Active and Disabled Items</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-active">An active item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item list-group-item-disabled">A disabled item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>

    <h2>Flush List Group</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>

    <h2>Contextual List Items</h2>
    <ul class="list-group">
        <li class="list-group-item">A simple default list group item</li>
        <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
        <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
        <li class="list-group-item list-group-item-success">A simple success list group item</li>
        <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
        <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
        <li class="list-group-item list-group-item-info">A simple info list group item</li>
        <li class="list-group-item list-group-item-light">A simple light list group item</li>
        <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
    </ul>

    <h2>Numbered List Group</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">A list item</li>
        <li class="list-group-item">A list item</li>
        <li class="list-group-item">A list item</li>
    </ol>
</div>
