@page "/table"
<div class="container">
    <h1>Bootstrap Table Examples</h1>

    <h2>Basic Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>

    <h2>Striped Rows</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody class="table-striped-body">
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr class="table-row-striped">
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
            <tr class="table-row-striped">
                <th>4</th>
                <td>John</td>
                <td>Doe</td>
                <td>@@jdoe</td>
            </tr>
        </tbody>
    </table>

    <h2>Bordered Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>

    <h2>Hover Table</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>

    <h2>Small Table</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>

    <h2>Contextual Classes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Heading</th>
                <th>Heading</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-default">
                <th>Default</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-primary">
                <th>Primary</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-secondary">
                <th>Secondary</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-success">
                <th>Success</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-danger">
                <th>Danger</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-warning">
                <th>Warning</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-info">
                <th>Info</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-light">
                <th>Light</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr class="table-dark">
                <th>Dark</th>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>

    <h2>Dark Table</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
