@namespace Miko.Bootstrap.Components
<div class="@_cssClass">
    @ChildContent
</div>

@code {
    private string _cssClass = "tab-pane";
    [Parameter] public bool Active { get; set; }

    protected override void OnParametersSet()
    {
        _cssClass = Active ? "tab-pane active" : "tab-pane";
    }
}
