@namespace Miko.Bootstrap.Components
<button class="@_cssClass" @onclick="HandleClick">@ChildContent</button>

@code {
    private string _cssClass = "dropdown-item";
    [Parameter] public bool Active { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    protected override void OnParametersSet()
    {
        _cssClass = Active ? "dropdown-item active" : "dropdown-item";
    }

    private async Task HandleClick(MouseEventArgs _)
    {
        await OnClick.InvokeAsync();
    }
}
