@namespace Miko
@inherits MikoDomComponentBase

<ion-header
    class="@ClassMapper.Class"
    style="@Style"
    role="banner"
    translucent>
    @if (Mode == "ios" && Translucent)
    {
        <div class="header-background"></div>
    }
    <slot>@ChildContent</slot>
</ion-header>