@namespace Miko
@inherits MikoDomComponentBase

<Host Tag="ion-header"
      StyleUrls="@_styleUrls"
      Class="@ClassMapper.Class"
      Style="@Style"
      role="banner"
      translucent>
    @if (Mode == "ios" && Translucent)
    {
        <div class="header-background"></div>
    }
    <slot>@ChildContent</slot>
</Host>