@import "../../themes/ionic.globals";

// Card Header
// --------------------------------------------------

ion-card-header {
  --background: transparent;
  --color: inherit;

  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);
}

ion-card-header.ion-color {
  background: current-color(base);
  color: current-color(contrast);
}
