@page "/button"

<Miko.App>
    <Miko.Header>
        <Miko.Toolbar>
            <Miko.Title>
                Button
            </Miko.Title>
        </Miko.Toolbar>
    </Miko.Header>
    <Miko.Content>
        <section>
            <header>Small Size</header>
            <Miko.Button Size="small">
                Default
            </Miko.Button>
            <Miko.Button Size="small" Color="secondary">
                Secondary
            </Miko.Button>
            <Miko.Button Size="small" Color="tertiary">
                Tertiary
            </Miko.Button>
        </section>

        <section>
            <header>Default Size</header>
            <Miko.Button Color="success">
                Success
            </Miko.Button>
            <Miko.Button Color="warning">
                Waring
            </Miko.Button>
            <Miko.Button Color="danger">
                Danger
            </Miko.Button>
        </section>

        <section>
            <header>Large Size</header>
            <Miko.Button Size="large" Color="light">
                Light
            </Miko.Button>
            <Miko.Button Size="large" Color="medium">
                Medium
            </Miko.Button>
            <Miko.Button Size="large" Color="dark">
                Dark
            </Miko.Button>
        </section>

        <section>
            <header>Block Width</header>
            <Miko.Button Expand="block">
                A Block Button
            </Miko.Button>
        </section>

        <section>
            <header>Full Width</header>
            <Miko.Button Expand="full">
                A Full-Width Button
            </Miko.Button>
        </section>
    </Miko.Content>
</Miko.App>