@page "/tab2"
@namespace MikoApp2.Pages

<IonPage>
    <IonHeader>
        <IonToolbar>
            <IonTitle>Tab 2</IonTitle>
        </IonToolbar>
    </IonHeader>
    <IonContent Fullscreen="true">
        <div class="demo-content">
            <p>This is the second tab page, served at <strong>/tab2</strong>.</p>
            <p>The circle icon is highlighted while this route is active.</p>
        </div>
    </IonContent>
</IonPage>
