@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@ClassMapper.Class" style="@Style">
    <div class="infinite-loading">
        @if (!string.IsNullOrEmpty(LoadingSpinner))
        {
            <div class="infinite-loading-spinner">
                <IonSpinner Name="@LoadingSpinner" Class="infinite-loading-spinner-icon" />
            </div>
        }
        @if (LoadingText is not null)
        {
            <div class="infinite-loading-text">@LoadingText</div>
        }
    </div>
</div>

@code {
    /// <summary>Spinner name to show while loading.</summary>
    [Parameter] public string? LoadingSpinner { get; set; }

    /// <summary>Optional text to display while loading.</summary>
    [Parameter] public string? LoadingText { get; set; }

    protected override void OnParametersSet()
    {
        ClassMapper
            .Clear()
            .Add(Class)
            .Add(Mode)
            .Add("ion-infinite-scroll-content")
            .Add($"infinite-scroll-content-{Mode}");
    }
}
