@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@ClassMapper.Class" style="@Style">
    @ChildContent
</div>

@code {
    protected override void OnParametersSet()
    {
        ClassMapper
            .Clear()
            .Add(ClassName)
            .Add(Mode)
            .Add("ion-app");
    }
}
