@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@($"{Mode} ion-menu-button")" @onclick="HandleClick">
    <IonIcon Icon="@Ionicons.Menu" />
</div>

@code {
    /// <summary>Invoked when the hamburger button is clicked (typically opens the menu).</summary>
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task HandleClick(MouseEventArgs _)
    {
        await OnClick.InvokeAsync();
    }
}
