@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@ClassMapper.Class" style="@Style">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Placement of the tab bar relative to the tabs content: <c>"bottom"</c> (default)
    /// or <c>"top"</c>. Mirrors Ionic's <c>slot</c> attribute on <c>ion-tab-bar</c>.
    /// </summary>
    [Parameter] public string Slot { get; set; } = "bottom";

    protected override void OnParametersSet()
    {
        var slot = string.Equals(Slot, "top", StringComparison.OrdinalIgnoreCase) ? "top" : "bottom";

        ClassMapper
            .Clear()
            .Add(Class)
            .Add(Mode)
            .Add("ion-tab-bar")
            .Add($"ion-tab-bar-{slot}");
    }
}
