@page "/accordion"

<h1>IonAccordion</h1>

<p>
    Accordions provide collapsible sections in your content to reduce vertical space while providing a way of organizing and grouping information. All ion-accordion components should be grouped inside ion-accordion-group components.
</p>
