@page "/breadcrumb"

<h1>IonBreadcrumb</h1>

<p>
    A Breadcrumb is a single navigation item that is a child of the Breadcrumbs component. A breadcrumb can link elsewhere in an app or it can be plain text. Each breadcrumb has a separator between it and the next breadcrumb and can optionally contain an icon.
</p>
