@page "/card"

<h1>IonCard</h1>

<p>
    Cards are containers that display content such as text, images, buttons, and lists. A card can be a single component, but is often made up of a header, title, subtitle, and content. Cards are broken up into several components to accommodate this structure: card header, card title, card subtitle, and card content.
</p>

<h2>
    Basic Usage
</h2>

<div class="playground">
    <div class="playground-container">
        <div class="container-row">
        </div>
    </div>
</div>

@code {

}
