@page "/grid"

<h1>IonGrid</h1>

<p>
    The grid is a powerful mobile-first flexbox system for building custom layouts. It is composed of three units — a grid, row(s) and column(s). Columns will expand to fill the row, and will resize to fit additional columns. It is based on a 12 column layout with different breakpoints based on the screen size. The number of columns can be customized using CSS.
</p>

<h2>Basic Usage</h2>

<p>
    By default, columns will take up equal width inside of a row for all devices and screen sizes.
</p>



@code {

}
