@page "/"
@page "/home"

<h1>Miko UI Components</h1>

<p>
    Ionic apps are made of high-level building blocks called Components, which allow you to quickly construct the UI for your app. Ionic comes stock with a number of components, including cards, lists, and tabs. Once you're familiar with the basics, refer to the API Index for a complete list of each component and sub-component.
</p>

@code {

}
