@page "/icon"

<h1>IonIcon</h1>

<p>
    Icon is a simple component made available through the Ionicons library, which comes pre-packaged by default with all Ionic Framework applications. It can be used to display any icon from the Ionicons set, or a custom SVG. It also has support for styling such as size and color.
</p>

@code {

}
