@page "/label"

<h1>IonLabel</h1>

<p>
    Label is an element used primarily to add text content to Item components. Label can also be used inside of form control components such as Input or Radio when specifying the visible label, but it is not required.
</p>