@page "/list"

<h1>IonList</h1>

<p>
    Lists are made up of multiple rows of items which can contain text, buttons, toggles, icons, thumbnails, and much more. Lists generally contain items with similar data content, such as images and text.
</p>
