@page "/note"

<h1>IonNote</h1>

<p>
    Notes are text elements generally used as subtitles that provide more information. They are styled to appear grey by default. Notes can be used in an item as metadata text.
</p>
