@page "/popover"

<h1>IonPopover</h1>

<p>
    A Popover is a dialog that appears on top of the current page. It can be used for anything, but generally it is used for overflow actions that don't fit in the navigation bar.
</p>