@page "/progress-bar"

<h1>IonProgressBar</h1>

<p>
    Progress bars inform users about the status of ongoing processes, such as loading an app, submitting a form, or saving updates. There are two types of progress bars: determinate and indeterminate.
</p>