@page "/range"

<h1>IonRange</h1>

<p>
    The Range slider lets users select from a range of values by moving the slider knob. By default one knob controls the value of the range. This behavior can be customized using dual knobs.
</p>

<p>
    By default the Range slider has a minimum value of 0 and a maximum value of 100. This can be configured with the min and max properties.
</p>