@page "/searchbar"

<h1>IonSearchbar</h1>

<p>
    Searchbars represent a text field that can be used to search through a collection. They can be displayed inside of a toolbar or the main content. A searchbar should be used instead of an input to search lists.
</p>