@page "/select"

<h1>IonSelect</h1>

<p>
    Selects are form controls to select an option, or options, from a set of options. When a user taps the select, a dialog appears with all of the options in a large, easy to select list.
</p>

<p>
    A select should be used with child ion-select-option elements. If the child option is not given a value attribute then its text will be used as the value.
</p>

<p>
    If value is set on the ion-select, the selected option will be chosen based on that value.
</p>