@page "/spinner"

<h1>IonSpinner</h1>

<p>
    The Spinner component provides a variety of animated SVG spinners. Spinners are visual indicators that the app is loading content or performing another process that the user needs to wait on.
</p>
