@page "/thumbnail"

<h1>IonThumbnail</h1>

<p>
    Thumbnails are square components that usually wrap an image or icon. They can be used to make it easier to display a group of larger images or provide a preview of the full-size image.
</p>
