@page "/title"

<h1>IonTitle</h1>

<p>
    Title is a text component that sets the title for a toolbar. It can be used to describe the screen or section a user is currently on or the app being used.
</p>
