@page "/toggle"

<h1>IonToggle</h1>

<p>
    Toggles are switches that change the state of a single option. They can be switched on or off by pressing or swiping them. Toggles can also be checked programmatically by setting the checked property.
</p>