@page "/toolbar"

<h1>IonToolbar</h1>

<p>
    Toolbars are generally positioned above or below content and provide content and actions for the current screen. When placed within the content, toolbars will scroll with the content.
</p>