@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<span class="@ClassMapper.Class" style="@Style">
    @ChildContent
</span>

@code {
    /// <summary>Named palette color (Ionic <c>color</c>): <c>"primary"</c>, <c>"danger"</c>, ... .</summary>
    [Parameter] public string? Color { get; set; }

    protected override void OnParametersSet()
    {
        ClassMapper
            .Clear()
            .Add(Class)
            .Add(Mode)
            .Add("ion-badge")
            .If(!string.IsNullOrWhiteSpace(Color), "ion-color")
            .AddColor(Color);
    }
}
