@import "./accordion.vars.scss";

// Accordion
// --------------------------------------------------

ion-accordion {
  display: block;

  position: relative;

  width: 100%;

  background-color: $accordion-background-color;

  overflow: hidden;

  /**
   * This is required to force WebKit
   * to create a new stacking context
   * otherwise the border radius is
   * temporarily lost when hovering over
   * the ion-item or expanding/collapsing
   * the accordion.
   */
  z-index: 0;
}

ion-accordion.accordion-expanding slot ion-item[slot="header"],
ion-accordion.accordion-expanded slot ion-item[slot="header"] {
  --border-width: 0px;
}

ion-accordion.accordion-animated {
  transition: all $accordion-transition-duration $accordion-transition-easing;
}

ion-accordion.accordion-animated #content {
  transition: max-height $accordion-transition-duration $accordion-transition-easing;
}

#content {
  overflow: hidden;

  will-change: max-height;
}

ion-accordion.accordion-collapsing #content {
  /* stylelint-disable-next-line declaration-no-important */
  max-height: 0 !important;
}

ion-accordion.accordion-collapsed #content {
  display: none;
}

ion-accordion.accordion-expanding #content {
  max-height: 0;
}

ion-accordion.accordion-disabled #header,
ion-accordion.accordion-readonly #header,
ion-accordion.accordion-disabled #content,
ion-accordion.accordion-readonly #content {
  pointer-events: none;
}

/**
 * We do not set the opacity on the
 * host otherwise you would see the
 * box-shadow behind it.
 */
ion-accordion.accordion-disabled #header,
ion-accordion.accordion-disabled #content {
  opacity: $accordion-disabled-opacity;
}

@media (prefers-reduced-motion: reduce) {
  ion-accordion,
  #content {
    /* stylelint-disable declaration-no-important */
    transition: none !important;
  }
}
