@namespace Miko.Ionic.Components
@inherits IonicComponentBase
<div class="@ClassMapper.Class" style="@Style">
    @if (Translucent && Mode == "ios")
    {
        <div class="footer-background"></div>
    }
    @ChildContent
</div>

@code {
    /// <summary>
    /// If <c>true</c>, the footer will be translucent.
    /// Only applies when the mode is <c>"ios"</c> and the device supports backdrop-filter.
    /// Note: In order to scroll content behind the footer, the <c>fullscreen</c> attribute
    /// needs to be set on the content.
    /// </summary>
    [Parameter] public bool Translucent { get; set; }

    /// <summary>
    /// Describes the scroll effect that will be applied to the footer.
    /// Only applies in iOS mode. Currently supports <c>"fade"</c>.
    /// </summary>
    [Parameter] public string? Collapse { get; set; }

    protected override void OnParametersSet()
    {
        ClassMapper
            .Clear()
            .Add(ClassName)
            .Add(Mode)
            .Add("ion-footer")
            .Add($"footer-{Mode}")
            .If(Translucent, "footer-translucent")
            .If(Translucent, $"footer-translucent-{Mode}")
            .Add("footer-toolbar-padding")
            .AddValue(Collapse, "footer-collapse-");
    }
}
