@namespace Miko.Bootstrap.Components
<div class="progress">
    <div class="progress-bar" style="@_style">
        @if (ShowLabel)
        {
            @($"{Value}%")
        }
    </div>
</div>

@code {
    private string _style = "";
    [Parameter] public int Value { get; set; }
    [Parameter] public bool ShowLabel { get; set; }

    protected override void OnParametersSet()
    {
        _style = $"width: {Value}%";
    }
}
